section{
    position: relative;
    width: 100%;
    height: 90vh;
    display: flex;
}
section .imgBx{
    position: relative;
    width: 50%;
    height: 100% ;
}
section .imgBx::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(225deg, #e91e63,#03a9f4) ;
    z-index: 1;
    mix-blend-mode: screen;
}
section .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100% ;  
    object-fit: cover;
}
section .content{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    width: 50%;
    /* top: 50px; */
}
section .content .formBx{
    width: 50%;
    height: 100%;
}
section .content .formBx h2{
    color: #607d8b;
    font-weight: 600;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-bottom: 20px;
    border-bottom: 4px solid #ff4584;
    display: inline-block;
    letter-spacing: 1px;
}
section .content .formBx .inputBx{
    margin-bottom: 20px;
}
section .content .formBx .inputBx input ,
section .content .formBx .inputBx select{
    width: 100%;
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #607d8b;
    font-size: 16px;
    letter-spacing: 1px;
    color: black;
    background: transparent;
    border-radius: 30px;
}
section .content .formBx .inputBx input[type="submit"]{
    background: linear-gradient(225deg, #a445b2, #fa4299);
    color: #fff;
    outline: none;
    border: none;
    font-weight: 500;
    cursor: pointer;
}
section .content .formBx .inputBx input[type="submit"]:hover{
    background: #69e65d;
    color: black;
}
section .content .formBx .inputBx #reset:hover{
    background: #5690ed;
}
section .content .formBx .inputBx input[type="submit"]:disabled{
    background-color: #ac9ea3;
}
p{
    color: red;
}
@media(min-width: 768px)
{
    section .imgBx{
        overflow: hidden;
    }
    section .contentBx{
        overflow-y: scroll;
        top:20px;
    }

}
@media(max-width: 768px)
{
    section .imgBx{
        position: fixed;
        top: 50px;
        left: 0;
        width: 100%;
        height: 100%;
    }
    section .content{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
    section .content .formBx{
        width: 100%;
        padding: 40px;
        background: rgba(244, 239, 239, 0.9);
        margin: 50px;
    }
}