.body
{
    justify-content: center;
    background: linear-gradient(225deg,#f2427d,#72bcde) ;
    overflow: hidden;
}
.body h2
{
    padding-top: 25px;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.5em;
    text-transform: uppercase;
    /* margin-bottom: 20px; */
    letter-spacing: 1px;
}
.body .listtable
{
    /* border: 1px solid black; */
    text-align: center;
    table-layout: auto;
    text-transform: capitalize;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    overflow-y: auto;
    height: 400px;
}
/* .body .listtable table
{
    border: 1px solid black;
} */
.body .listtable table thead tr th
{
    color: rgb(255, 255, 255);
    background-color: rgb(12, 87, 35);
    position: sticky;
    top: 0;
}
.body .listtable table tbody tr
{
    background-color: white;
}
.search
{
    margin-top: 25px;
    justify-content: center;
    position: static;
    z-index: 1;
}
.inputvalue{
    width: 400px; 
    padding: 10px 20px;
    outline: none;
    font-weight: 400;
    border: 1px solid #000000;
    font-size: 16px;
    letter-spacing: 1px;
    color: black;
    background: #e3edf1;
    border-radius: 30px;
}
span
{
    margin: 0px 5%;
}
.action
{
    width: 150px;
}
.check
{
    float: left;
    width: 50%;
    color: green;
}
.delete
{
    float: right;
    width: 50%;
    color: red;
}